@import '../../assets/colors.scss';

.badge {
    background-color: $color-light-grey;
    padding: 3px 0;
    margin: 10px;
    border: 1px solid $color-border-grey;
    color: $color-blue;
    font-weight: 500;
    width: 85px;
    text-align: left;
    display: flex;
    align-items: center;
}


.badge > input {
    margin-left: 5px;
}

.badge:hover,
.badge > input:hover,
.badge > label:hover {
    cursor: pointer;
    background: $color-light-grey-hover;
}

.badge.selected {
    background: white;
    > label:hover {
        background: white;
    }
}


input:focus {
    outline:none;
}

input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    width: 12px;
    border: 1px solid  $color-border-grey;
    border-radius: 2px;
    height: 12px;
    position: relative;
}

input[type="checkbox"]:checked:after {
    content: "X";
    color: red; 
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}