$color-blue: rgb(30,67,110);
$color-border-grey: rgb(163,163,163);
$color-dark-grey: rgb(51,51,51);
$color-text-dark:  rgb(26,26,26);
$color-light-grey: #E5E5E5;
$color-light-shadow: rgb(227,227,227);
$color-light-grey-hover: rgb(220,220,220);