.panelContainer {
    margin-top: 20px;
    min-height: 120px;
    padding: 10px;
    display: flex;
    border: 1px solid  rgb(163,163,163);
    border-radius: 2px;
    flex-direction: column;
    justify-content: space-between;  
    box-shadow: 2px 2px 3px rgb(227,227,227);
}

.rowWrapper {
  display: flex;
}

.selectedItem {
  position: relative;
  padding: 4px 0px;
  background-color: #E5E5E5;
  margin: 10px;
  width: 85px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(26,26,26);
}

.icon {
  position: absolute;
  top: -10px;
  right: -15px;
  width: 24px;
  height: 24px;
}

.itemsWrapper {
  display: flex;
}



.close:hover::before {
  color: rgb(51,51,51); 
  cursor: pointer;
}